@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
.logo {
    margin:0 35% 0 0;
    /* width: 100%;
    height: 50%; */
    /* position: fixed; */
    /* justify-content: flex-start !important; */
}
.logo > img {
    /* max-width: 300px; */
    width: 100%;
  height: 100%;
  max-width: 300px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px; */
}
header {
    position: fixed;
    top: 0;
    width: 95%;
  min-height: 75px;
  /* padding: 0px 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}
#heading{
    margin-top: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head-content {
    padding: 4px 0 4px 0;
    margin: 5px 0 5px 0;
}
.flex-container{
    display: flex;
    padding: 3% 0 3% 0;
}
.dsg-img > img {
    height: 70%;
  width: 70%;
}
.dsg-img {
    /* float: left;
    
    margin: 0 5px 0 5px; */
    display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 10rem;
  /* height: 5%;
    width: 5%; */
}
.info {
    /* clear: left;
    overflow: auto;
    margin: 10px 0 10px 0;
    border:  3px solid #4CAF50; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90rem;
    /* height: 25px;
    width: 80vw; */
    padding: 5px;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.margin {
margin: 0 17% 0 17%;
}
body {
    background-color: #eee;
    font-family: 'Lato' , sans-serif;
}
.form-box {
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
    width: 18rem;
}
.btn {
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
    width: 50%;
    background-color: #F1C40F;  
    border:none;
    font-weight: 1000;
    font-size: 15px;
    cursor: pointer;
}
#features {
    margin-top: 8%;
}
h2,
p {
    margin:2px 0 2px 0;
}
#working {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
#working > iframe {
    height: 20rem;
    width: 63%;
}
#pricing {
    margin-top: 7%;
}
.flx {
    display: flex;
    flex-direction: row;
    justify-self: center;
}
.cards {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;
    width: calc(100% / 3);
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 3px;
    margin: 1% 1% 1% 1%;

}
.cards > h2 {
    margin-top: 15px;
  }
  .cards > ol {
      
    margin: 15px 0;
  }
.bg {
    background-color: #DDDDDD;
    width: 100%;
    text-align: center;
    padding: 14px 0 14px 0;
}
.btn-2 {
background-color: #F1C40F;
border:none;
/* font-weight: 1000; */
font-size: 15px;
cursor: pointer;
margin: 14px 0 14px 0;
padding: 10px 7%;
}
li {
    list-style-type: none;
}
ol li {
    padding: 5px 0 5px 0;
}
.btn-2:hover {
    background-color: orange;
}
footer {
    margin-top: 30px;
    background-color: #DDDDDD;
    padding: 20px;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;
}
ul li {
    padding: 0 7px 0 7px;
}
footer > p {
    color: #444444;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 990px) {
    .margin {
        margin: 0 0;
    }   
header {
    flex-direction: column;
    font-size: 40px;
    width: 100%;
}
header > div {
    margin-top: 1%;
}
.logo {
    margin: 0 0;
    display: flex;
    justify-content: center;
}
.logo > img {
    max-width: 80%;
    margin: 2% 0 2% 0;
}
#heading {
    margin: 35% 5% 2% 5%;
}
.head-content {
    font-size: 60px;
    margin-bottom: 3%;
}
form {
    width: 80%;
}
.form-box {
    width: 90%;
    height: 3rem;
    font-size: 2rem;
    padding: 10px;
}
.btn {
    height: rem;
    width: 50%;
    font-size: 2.5rem;
    padding: 10px;
    margin: 5%;
}
.dsg-img {
    visibility: hidden;
    width:0;
}
.info {
    text-align: center;
    margin-bottom: 6%;
}
.info > h2 {
    font-size: 60px;
}
.info > p {
    font-size: 40px;
}
#working > iframe {
    height: 80vw;
    width: 100%;
    margin-bottom: 5%;
}
.flx {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards {
 font-size: 40px;
 width: 80%;
 border: 3px solid black;
 border-radius: 8px;
 margin-bottom: 2%;
}
.cards > span,
.cards > h2 ,
.cards > ol > li {
    margin-bottom: 2%;
    padding: 5% 0 5% 0;
}
.btn-2 {
    font-size: 2.5rem;
    padding: 3% 5%;
}
footer {
    font-size: 37px;
    margin-top: 8%;
}
footer li {
    padding: 1% 3%;
}
footer li,
footer p {
    margin-right: 2%;
}
}